/* components */
@import "components/keyframes.css";
@import "components/nav-bar.css";
@import "components/visual.css";
@import "components/footer.css";

/* screens */
@import "screens/home.css";
@import "screens/about.css";
@import "screens/our-team.css";
@import "screens/project.css";
@import "screens/equipment.css";
@import "screens/news.css";
@import "screens/contact.css";

@import "components/media.css";

.inner {
  max-width: 1280px;
  margin: auto;
  cursor: default;
}

.hide {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  text-indent: -9999em;
  overflow: hidden;
  visibility: hidden;
  line-height: 0;
}

.sub-visual {
  color: rgba(255, 255, 255, 0.92);
}

h1 {
  font-size: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 4em;
  font-weight: 700;
  padding-top: 12.5rem;
}

h3 {
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 5rem;
}

h4 {
  font-size: 2.5em;
  font-weight: 700;
}

strong {
  font-weight: 700;
}

em {
  font-size: 1.375em;
  font-weight: 600;
  display: block;
  font-style: normal;
}

p {
  line-height: 1.8em;
  font-size: 1.3em;
  margin-bottom: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
