@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");

@import "reset.css";
@import "variables.css";

/* components */
@import "components/header-bar.css";
@import "components/keyframes.css";

/* screens */

body,
input {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
  color: --main-color;
}
body {
  width: 100vw;
}
