@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import "reset.css";
@import "variables.css";

/* components */
@import "components/header-bar.css";
@import "components/keyframes.css";
@import "components/visual.css";
@import "components/footer.css";

/* screens */
@import "screens/home.css";

body,
input {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
  color: var(--main-color);
  font-size: 18px;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

h3 {
  font-family: "Noto Serif", serif;
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 80px;
}

strong {
  font-family: "Noto Serif", serif;
  font-style: italic;
  font-weight: bold;
}

em {
  font-size: 22px;
  font-weight: 600;
  display: block;
}

#skipNav a {
  position: absolute;
  left: 0;
  top: -1000px;
  width: 100%;
  display: block;
  text-align: center;
  line-height: 50px;
  background: #000;
  color: #fff;
  z-index: 500;
}
#skipNav a:hover,
#skipNav a:active,
#skipNav a:focus {
  top: 0;
}

.inner {
  width: 1280px;
  margin: auto;
}
