/* ceo */
.ceo {
  padding: var(--section-padding);
}

.ceo-img {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.ceo-img img {
  object-fit: cover;
  height: 25rem;
}

.ceo-info__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.ceo-info__text strong {
  font-size: 1.7em;
}

.ceo-info__text em {
  display: block;
  margin-top: 0.875rem;
  margin-bottom: 2.5rem;
  font-size: 1.2em;
}

.ceo-performance {
  margin-top: 6.25rem;
}

.ceo-performance span {
  font-size: 2.438em;
  font-weight: 700;
  opacity: 13%;
  position: relative;
  padding: 0;
  line-height: 0.7em;
}

.ceo-performance span:first-of-type::after {
  display: inline;
  content: "";
  width: 30%;
  background-color: #121212;
  height: 0.13em;
  position: absolute;
  top: 30%;
  margin-left: 1.25rem;
}

.ceo-performance span:last-of-type {
  text-align: end;
}

.ceo-performance-list .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 320px;
  padding: 2.5rem 1.875rem 1.875rem 1.875rem;
}
.ceo-performance-list .col:nth-child(odd) {
  background-color: var(--theme-color-02);
  padding-right: 0.625rem;
}

.ceo-performance-list .col:nth-child(even) {
  background-color: var(--bs-gray-100);
}

.ceo-performance-list .col em {
  margin-bottom: 1.375em;
}

.ceo-performance-list .col p {
  max-height: 70%;
  text-align: justify;
  overflow: auto;
  font-size: 1.125em;
  -webkit-text-fill-color: black;
  transition: color 0.3s ease;
  color: rgba(0, 0, 0, 0);
}

.scroll-edit::-webkit-scrollbar,
.scroll-edit::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

.scroll-edit::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}

.ceo-performance-list .col:hover p {
  color: rgba(0, 0, 0, 0.3);
}

/* value */
.value {
  padding: var(--section-padding);
}
.value-wrap__text__item {
  padding: 30px;
  text-align: center;
}
.value-wrap__text__item strong {
  font-size: 1.375em;
  font-family: var(--bs-font-sans-serif);
  font-style: normal;
  font-weight: 600;
}
.value-wrap__text__item em {
  font-weight: 400;
  font-size: 1em;
  margin-top: 7px;
  display: block;
  margin-bottom: 1.875rem;
}
.value-wrap__text__item p {
  font-size: 1.125em;
}
.value-wrap__img {
  display: flex;
  justify-content: center;
  padding-left: 2.5rem;
}
.value-wrap__img img {
  object-fit: contain;
}

/* our service */
.our-service {
  padding: var(--section-padding);
}

.our-service__list {
}
.our-service__item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1.375em;
  font-weight: 600;
  text-align: center;
  overflow: hidden;
  background-color: #00000066;
  color: var(--bs-white);
  transition: 0.4s;
}

.our-service__item:hover {
  background-color: #00000010;
}

.our-service__item img {
  position: absolute;
  z-index: -10;
}

.our-service__item:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.our-service__video {
  width: 100%;
  position: relative;
  padding-top: 56%;
  margin-top: 6.25rem;
}

.our-service__video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* sub-location */
.sub-location {
  padding: var(--section-padding);
}

.sub-location__place {
  margin-bottom: 2.5rem;
}

.sub-location__place em {
  margin-bottom: 1.5rem;
}

.sub-location__place p {
  font-size: 1.188em;
}

/* map overlay */
.label {
  margin-bottom: 96px;
}
.label * {
  display: inline-block;
  vertical-align: top;
}
.label .left {
  background: url("https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_l.png")
    no-repeat;
  display: inline-block;
  height: 24px;
  overflow: hidden;
  vertical-align: top;
  width: 7px;
}
.label .center {
  background: url(https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_bg.png)
    repeat-x;
  display: inline-block;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
}
.label .right {
  background: url("https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_r.png") -1px
    0 no-repeat;
  display: inline-block;
  height: 24px;
  overflow: hidden;
  width: 6px;
}
