/* ceo */
.ceo {
  padding: var(--section-padding);
}

.ceo-img {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.ceo-img img {
  object-fit: cover;
  height: 25rem;
}

.ceo-info__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.ceo-info__text strong {
  font-size: 1.7em;
}

.ceo-info__text em {
  display: block;
  margin-top: 14px;
  margin-bottom: 40px;
  font-size: 1.2em;
}

.ceo-performance {
  margin-top: 6.25rem;
}

.ceo-performance span {
  font-size: 2.438em;
  font-weight: 700;
  opacity: 13%;
  position: relative;
  padding: 0;
  line-height: 0.7em;
}

.ceo-performance span:first-of-type::after {
  display: inline;
  content: "";
  width: 30%;
  background-color: #121212;
  height: 0.13em;
  position: absolute;
  top: 30%;
  margin-left: 1.25rem;
}

.ceo-performance span:last-of-type {
  text-align: end;
}

.ceo-performance-list .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 320px;
  padding: 40px 30px 30px 30px;
}
.ceo-performance-list .col:nth-child(2n-1) {
  background-color: var(--bs-orange);
  padding-right: 10px;
}

.ceo-performance-list .col em {
  margin-bottom: 1.375em;
}

.ceo-performance-list .col p {
  max-height: 70%;
  text-align: justify;
  overflow: auto;
  font-size: 1.125em;
  -webkit-text-fill-color: black;
  transition: color 0.3s ease;
  color: rgba(0, 0, 0, 0);
}

.scroll-edit::-webkit-scrollbar,
.scroll-edit::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

.scroll-edit::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}

.ceo-performance-list .col:hover p {
  color: rgba(0, 0, 0, 0.3);
}

/* velue */
.velue {
  padding: var(--section-padding);
}
.velue-wrap__text__item {
  padding: 30px;
  text-align: center;
}
.velue-wrap__text__item strong {
  font-size: 1.375em;
  font-family: var(--bs-font-sans-serif);
  font-style: normal;
  font-weight: 600;
}
.velue-wrap__text__item em {
  font-weight: 400;
  font-size: 1em;
  margin-top: 7px;
  display: block;
  margin-bottom: 1.875rem;
}
.velue-wrap__text__item p {
  font-size: 1.125em;
}
.velue-wrap__img {
  display: flex;
  justify-content: center;
  padding-left: 2.5rem;
}
.velue-wrap__img img {
  object-fit: contain;
}

/* our service */
.our-service {
  padding: var(--section-padding);
}

.our-service__list {
}
.our-service__item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1.375em;
  font-weight: 600;
  text-align: center;
  background-color: var(--bs-teal);
}

.our-service__item:nth-child(2n) {
  background-color: var(--bs-cyan);
}

.our-service__item:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.our-service__video {
  width: 100%;
  position: relative;
  padding-top: 56%;
  margin-top: 6.25rem;
}

.our-service__video iframe {
  width: 99%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* sub-location */
.sub-location {
  padding: var(--section-padding);
}

.sub-location__place {
  margin-bottom: 2.5rem;
}

.sub-location__place em {
  margin-bottom: 1.5rem;
}

.sub-location__place p {
  font-size: 1.188em;
}
