/* our story */
.our-story {
  padding: var(--section-padding);
}

.our-story .inner {
  display: flex;
  justify-content: space-between;
}

.our-story__left {
  width: 30%;
}
.our-story__left strong {
  opacity: 60%;
  font-size: 1.875em;
  margin-bottom: 2.5rem;
  display: block;
  color: var(--theme-color-03);
}
.our-story__left p {
  line-height: 3rem;
  font-size: 1.375em;
  text-align: justify;
  font-weight: 500;
}

.our-story__right {
  width: 65%;
  position: relative;
  height: 46.875rem;
}

.our-story__right__img-wrap {
  overflow: hidden;
  height: 41.25rem;
  position: absolute;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.our-story__right__img-wrap:first-child {
  top: 0;
  right: 0;
  width: 70%;
  height: 41.25rem;
  background-image: url(/images/screens/main/our_team_01.jpg);
}

.our-story__right__img-wrap:last-child {
  bottom: 0;
  left: 0;
  width: 60%;
  height: 37.5rem;
  background-image: url(/images/screens/main/our_team_02.jpg);
}

.our-story__right__img-wrap img {
  width: 100%;
}

/* event */
.event {
  padding: var(--section-padding);
}

/* location */
.location {
  padding: var(--section-padding);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: var(--theme-color-02);
  opacity: 70%;
  display: block;
  top: 0;
  z-index: 5;
}

.location .inner {
  width: 100%;
}

.location a {
  color: var(--bs-body-color);
  text-decoration: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-text {
  text-align: center;
}

.location:hover .location__more i {
  -webkit-animation: shake-horizontal 4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite both;
  animation: shake-horizontal 4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite both;
}

.location__more {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.location__more i {
  opacity: 95%;
  font-size: 1.1rem;
  margin-left: 0.35rem;
  position: relative;
  top: 1px;
}

/* partners */
.partners {
  padding: 6.25rem 0;
}

.partners .inner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.partners h3 {
  font-size: 1em;
  opacity: 85%;
}

.partners__list {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.partners__item {
}

.partners__item img {
  width: 7.5em;
}
