.our-story {
  padding: var(--section-padding);
}

.our-story .inner {
  display: flex;
  justify-content: space-between;
}

.our-story__left {
  width: 30%;
}
.our-story__left strong {
  opacity: 60%;
  font-size: 30px;
  margin-bottom: 40px;
  display: block;
}
.our-story__left p {
  line-height: 45px;
  font-size: 24px;
  text-align: justify;
}

.our-story__right {
  width: 65%;
  position: relative;
  height: 750px;
}

.our-story__right__img-wrap {
  overflow: hidden;
  height: 660px;
  position: absolute;
}

.our-story__right__img-wrap:first-child {
  top: 0;
  right: 0;
  width: 70%;
  height: 660px;
}

.our-story__right__img-wrap:last-child {
  bottom: 0;
  left: 0;
  width: 60%;
  height: 600px;
}

.our-story__right__img-wrap img {
  width: 100%;
}

.event {
  padding: var(--section-padding);
}

.event__items {
  position: relative;
}

.event__items button {
  position: absolute;
  top: 50%;
  font-size: 50px;
  transform: translateY(-50%);
  color: var(--gray);
  cursor: pointer;
}

.event__items .slick-prev {
  left: -80px;
}

.event__items .slick-next {
  right: -80px;
}

.event__items__item div img {
  width: 100%;
}

/* slick 간격 조정 */
.event .slick-list {
  margin: 0 -20px;
}

.slick-slide {
  margin: 0 20px;
}

.event__items__item__title {
  margin-top: 20px;
  margin-bottom: 10px;
}
