/* business */
.business {
  padding: var(--section-padding);
}
.business-type {
  margin-bottom: 6.25rem;
}

.business-type__text {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.business-type:nth-child(2n-1) .business-type__text {
  text-align: right;
}

.business-type__text strong {
  font-size: 1.375em;
}

.business-type__text p {
  font-size: 1.125em;
}

.business-type .col-md-8 img {
  width: 100%;
}

/* history */
.history {
  padding: var(--section-padding);
}
.timeline {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-item:after {
  background-color: hsl(0, 0%, 90%);
  left: -38px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
}
.timeline-item .fw-bold {
  font-size: 1.125em;
}
.timeline-item .text-muted {
  font-size: 1.063em;
}
