footer {
  margin: 0 1.25rem;
  padding: 0 0.625rem;
}

.footer-logo {
  width: 7%;
}
.footer-logo img {
  width: 100%;
}

footer .fa-brands {
  font-size: 2em;
}

.footer-info {
  margin-top: 1.875rem;
  color: #6c757d;
}

footer em {
  font-size: 1rem;
  display: inline;
  margin-right: 0.313rem;
}
