.visual {
  width: 100%;
  overflow: hidden;
  background-image: url(/images/screens/main/main_visual.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.main-visual {
  height: 1050px;
}

.sub-visual {
  height: 600px;
}

h2 {
}
